[Desktop Entry]
Version=1.0
Type=Application
Name=DataGrip
Comment=SQL IDE
Exec=env DATAGRIP_JDK={{jdk_global_jdk_directory}} {{ansible_user_dir}}/Software/datagrip/bin/datagrip.sh
Icon={{ansible_user_dir}}/Software/datagrip/bin/datagrip.png
Path=
Terminal=false
StartupNotify=true
